<div id="app"></div>
<% @projects.each do |project| %>
  <div>Project -> key: <%= project.key %>, name: <%= project.name %></div>
<% end %>
<% @logs.each do |log| %>
  <div>TimeLog -> id: <%= log.id %>, date: <%= log.date %>, CR: <%= log.key %>, hours <%= log.hours %>, name: <%= log.name %></div>
<% end %>
